<mat-nav-list>
  <a mat-list-item (click)="onSelect('category')">
    <span mat-line style="font-weight: normal;">Add Category</span>
    <span mat-line class="text-muted"  style="font-size: small; font-weight: lighter;">Click to Add SubCategory</span>
  </a>
  <a mat-list-item (click)="onSelect('product')">
    <span mat-line style="font-weight: normal;">Add Product</span>
    <span mat-line class="text-muted" style="font-size: small; font-weight: lighter;">Click To Add New Product</span>
  </a>
</mat-nav-list>
