<div class="container">
  <div class="row align-items-center justify-content-center" style="height: 100%">
    <div class="col-auto">
      <div class="row justify-content-center">
        <div class="col-auto"><h2 style="color: #2C4495">Inventory Manager</h2></div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto"><h4 style="color: #2C4495">Sign In</h4></div>
      </div>
      <br>
      <form id="login" class="signin" #loginForm = "ngForm" (ngSubmit)="onSubmit(loginForm)">
        <mat-form-field [style.fontSize.px]="14" appearance="outline" class="username">
          <mat-label>Enter Your UserName</mat-label>
          <input matInput ngModel appAsyncLoginUsernameValidation
                 [ngModelOptions]="{updateOn: 'blur'}"
                 placeholder="Username" #username="ngModel" name="username" required>
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="username.hasError('required')">Username is required</mat-error>
          <mat-error *ngIf="username.hasError('username')">{{username.getError('username')}}</mat-error>
        </mat-form-field>

        <mat-form-field [style.fontSize.px]="14" appearance="outline" class="password">
          <mat-label>Enter Your Password</mat-label>
          <input matInput ngModel appAsyncLoginPasswordValidation [ngModelOptions]="{updateOn: 'blur'}"
                 #password="ngModel" [type]="!hide ? 'password' : 'text'"
                 placeholder="Password" name="password" required minlength="2">
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
          <mat-error *ngIf="password.hasError('required')" >Password is required</mat-error>
          <mat-error *ngIf="password.hasError('minlength')">Password should be of 2 length</mat-error>
          <mat-error *ngIf="password.hasError('password')">{{password.getError('password')}}</mat-error>
        </mat-form-field>
        <div class="row justify-content-between" style="margin-bottom: 45px;">
          <div class="col-auto align-self-end forgot-password"><a>Forgot Password?</a></div>
          <div class="col-auto">
            <div class="row justify-content-end">
              <div class="col-auto">
                <mat-progress-spinner
                  *ngIf="loginForm.pending"
                  class="example-margin"
                  color="primary"
                  mode="indeterminate"
                  value = "50"
                  diameter = "35"
                ></mat-progress-spinner>
              </div>
              <div class="col-auto">
                <button mat-raised-button color="primary" >Submit</button>
                <!--<button mat-raised-button type="button" color="primary" >View Form</button>-->
              </div>
            </div>
          </div>
        </div>
      </form>
      <mat-divider style="margin-bottom: 25px;"></mat-divider>
      <div class="row justify-content-between">
        <div class="col-auto align-self-end">
          <a>Don't have an account?</a>
        </div>
        <div class="col-auto">
          <button mat-button routerLink="/signUp" type="button" color="primary">Create Account</button>
        </div>
      </div>
    </div>
  </div>
</div>
