<mat-toolbar  color="primary" class="header">
  <div class="row justify-content-between align-items-center" style="width: 100%">
    <div class="col-auto">
      <button mat-button routerLink="inventory"><mat-icon>dashboard</mat-icon>
        &nbsp; Inventory Manage
      </button>
      <button mat-button routerLink="browse"><mat-icon>library_add</mat-icon> &nbsp; Browse Category</button>
    </div>
    <div class="col-auto">
      <button mat-icon-button [matMenuTriggerFor]="options">
      <mat-icon>more_vert</mat-icon>
    </button>
      <mat-menu #options="matMenu">
        <button mat-menu-item><mat-icon>account_circle</mat-icon>Account</button>
        <button mat-menu-item (click)="onLogout()"><mat-icon>exit_to_app</mat-icon>Log Out</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
