.container{
  width: 100%;
  height: 100%;
  z-index: 50;
}
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.content.card{
  height: 100%;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.main{
  height: 100%;
  margin: 0;
  padding: 0;
}
mat-sidenav-container {
  height: 100%;
  padding-top: 3.5em;
}

mat-sidenav{
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  margin: 3.75em 5px 5px;
}
mat-sidenav-content{
  background-color: #F9F9F9;
  overflow: auto;
  padding-bottom: 5px;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
@media only screen and (max-width: 480px) {
  .header {
    position: absolute;
  }
}


.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}
