<div class="row" *ngIf="service.productList.length">
  <ng-container *ngFor="let product of service.productList">
    <div class=" col-lg-4 col-md-6 col-sm-12 col-sx-12"  style="padding: 0 5px; margin-top: 4px; margin-bottom: 4px;">
      <mat-card style="min-height: 650px; max-height: 650px;">
        <mat-card-header>
          <mat-card-title>{{product.product_brand}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/product_images/{{product.image_name}}" style="width: 370px; height: 280px;" alt=" {{product.product_name}}">
        <mat-card-content style="margin-top: 0; font-size: large; margin-bottom: 0; max-height: 50px; min-height: 50px; overflow: hidden;">
          <p class="text-muted">
            {{product.product_name}}

          </p>
        </mat-card-content>
        <mat-card-title style="margin-top: 0; margin-bottom: 0;">&#8377; {{product.product_price}}</mat-card-title>
        <mat-card-subtitle>&#8377; 200 off</mat-card-subtitle>
        <mat-card-content style="max-height: 104px; min-height: 104px; overflow: auto;">
          <p style="margin-right: 4px;">
            {{product.product_description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="onAdd(product)">ADD</button>
          <button mat-button (click)="onView(product)">VIEW</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</div>
<div class="row" *ngIf="service.productCategory.length">
  <ng-container *ngFor="let item of service.productCategory; let index  = index">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-sx-12" style="padding: 0 5px; margin-top: 4px; margin-bottom: 4px;">
      <mat-card (click)="onSelect(index)" class="category-card">
        <div matRipple style="padding: 16px; border-radius: 4px">
          <mat-card-title>{{item.name}}</mat-card-title>
        </div>
      </mat-card>
    </div>
  </ng-container>
</div>
