
    <div class="row">
      <div class="col" style="padding: 0 5px; margin-top: 4px; margin-bottom: 4px;">
        <mat-card>
          <div class="row">
            <div class="col-6">
              <div>
                <img [src]="viewProduct.image_name" style="float: left; width: 100%;" alt="{{viewProduct.product_name}}">
              </div>
            </div>
            <div class="col-6">
              <mat-card-title >{{viewProduct.product_brand}}</mat-card-title>

              <mat-card-content>
                <p class="text-muted">
                  {{viewProduct.product_name}}

                </p>
              </mat-card-content>
              <mat-card-title style="margin-top: 0; margin-bottom: 0;">&#8377; {{viewProduct.product_price}}</mat-card-title>
              <mat-card-subtitle><span class="text-danger">&#8377; 200 off</span></mat-card-subtitle>
              <mat-card-content>
                <p style="margin-right: 4px; overflow: hidden;  text-overflow: ellipsis;">
                  {{viewProduct.product_description}}
                </p>
              </mat-card-content>


            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="row" >
      <div class="col" style="padding: 0 5px; margin-top: 4px; margin-bottom: 4px;">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Specification
                  </mat-panel-title>
                </mat-expansion-panel-header>

                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <ng-container *ngFor="let item of specificationKeys; let index = index">
                        <ng-container *ngIf="index%2">
                          <div class="row justify-content-center" matRipple style="padding: 8px;">
                            <div class="col-4">
                              <span  class="text-muted">{{item}}</span>
                            </div>
                            <div class="col">
                              <span>{{specification[item].toString()}}</span>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">

                      <ng-container *ngFor="let item of specificationKeys; let index = index">
                        <ng-container *ngIf="!index%2">
                          <div class="row justify-content-center" matRipple style="padding: 8px;">
                            <div class="col-4">
                              <span  class="text-muted">{{item}}</span>
                            </div>
                            <div class="col">
                              <span>{{specification[item].toString()}}</span>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>


              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Description
                  </mat-panel-title>
                </mat-expansion-panel-header>

                {{viewProduct.product_description}}

              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Available On Shops
                  </mat-panel-title>

                </mat-expansion-panel-header>
                <div class="row" *ngFor="let item of shopList" style="padding: 10px 0">
                  <div class="col-1">{{item.shop_name}}</div>
                  <div class="col">{{item.shop_location}}</div>
                  <div class="col-3">{{item.shopkeeper_email}}</div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>

      </div>
    </div>




