<div class="container">
  <div class="row align-items-center justify-content-center" style="height: 100%">
    <div class="col-auto">
      <div class="row justify-content-center">
        <div class="col-auto"><h2 style="color: #2C4495">Inventory Manager</h2></div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto"><h4 style="color: #2C4495">Create Account</h4></div>
      </div>
      <br>
      <form class="sign-up" #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
        <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
          <mat-label>Enter Name</mat-label>
          <input ngModel #name="ngModel" matInput placeholder="Name" name="name" required>
          <mat-error *ngIf="name.hasError('required')">Name Is Required</mat-error>
        </mat-form-field>
        <div class="row justify-content-between">
          <div class="col-6">
            <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
              <mat-label>Enter Contact</mat-label>
              <input ngModel type="number" #contact="ngModel" matInput placeholder="contact" name="contact" required >
              <mat-error *ngIf="contact.hasError('required')">Phone Is Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
              <mat-label>Choose User Name</mat-label>
              <input ngModel matInput #username="ngModel" [ngModelOptions]="{updateOn: 'blur'}" appAsyncSignupUsernameValidation placeholder="Username" name="username" required>
              <mat-error *ngIf="username.hasError('required')">Username Is Required</mat-error>
              <mat-error *ngIf="username.hasError('username')">{{username.getError('username')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
          <mat-label>Enter Email Address</mat-label>
          <input ngModel matInput appAsyncSignupEmailValidation [ngModelOptions]="{updateOn: 'blur'}" #email = "ngModel" type="email" placeholder="Email" name="email" required>
          <mat-error *ngIf="email.hasError('required')">Email Is Required</mat-error>
          <mat-error *ngIf="email.hasError('email')">{{email.getError('email')}}</mat-error>
        </mat-form-field>
        <div class="row justify-content-between">
          <div class="col-6">
            <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
              <mat-label>Choose Password</mat-label>
              <input ngModel matInput #password="ngModel" type="password" placeholder="Password" name="password" required>
              <mat-error *ngIf="password.hasError('required')">Password Is Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
              <mat-label>Re Enter Password</mat-label>
              <input ngModel matInput appSignupEqualPasswordValidation [ngModelOptions]="{updateOn: 'blur'}" #rePassword="ngModel" type="password" placeholder="Re-type Password" name="repassword" required>
              <mat-error *ngIf="rePassword.hasError('required')">Please Re type the Password</mat-error>
              <mat-error *ngIf="rePassword.hasError('password')">{{rePassword.getError('password')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-6">
            <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
              <mat-label>Enter Your Shop Name</mat-label>
              <input ngModel matInput #shopName="ngModel" [ngModelOptions]="{updateOn: 'blur'}" appAsyncSignupShopNameValidation placeholder="Shop Name" name="shopName" required>
              <mat-error *ngIf="shopName.hasError('required')">Shop Name Is Required</mat-error>
              <mat-error *ngIf="shopName.hasError('shopName')">{{shopName.getError('shopName')}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
              <mat-label>Enter Your Shop Primary Category</mat-label>
              <mat-select ngModel name="shopType" #shopType = "ngModel" required>
                <ng-container *ngFor="let type of shop_types">
                  <mat-option [value]="type.type_name">{{type.type_name}}</mat-option>
                </ng-container>
              </mat-select>
              <mat-error *ngIf="shopType.hasError('required')">Shop Type Is Required</mat-error>
            </mat-form-field>
          </div>
        </div>


        <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
          <mat-label>Enter Your Shop Description</mat-label>
          <textarea ngModel #shopDescription="ngModel" matInput placeholder="Shop Description" name="shopDescription" required></textarea>
          <mat-error *ngIf="shopDescription.hasError('required')">Shop Description Is Required</mat-error>
        </mat-form-field>
        <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
          <mat-label>Enter Your Shop Address</mat-label>
          <textarea ngModel #shopAddress="ngModel" matInput placeholder="Shop Address" name="shopAddress" required></textarea>
          <mat-error *ngIf="shopAddress.hasError('required')">Shop Address Is Required</mat-error>
        </mat-form-field>
        <div class="row justify-content-end">
          <div class="col-auto">
            <div class="row justify-content-end">
              <div class="col-auto">
                <mat-progress-spinner
                  *ngIf="signupForm.pending"
                  class="example-margin"
                  color="primary"
                  mode="indeterminate"
                  value = "50"
                  diameter = "35"
                ></mat-progress-spinner>
              </div>
              <div class="col-auto">
                <button mat-raised-button type="submit" style="outline: 0" color="primary">Create Account</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

