<div class="container">
  <div class="row align-items-center justify-content-center" style="height: 100%">
    <div class="col-auto">
      <div class="row justify-content-center">
        <div class="col-auto"><h2 style="color: #2C4495">Inventory Manager</h2></div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-auto"><h4 style="color: #2C4495">Create Account</h4></div>
      </div>
      <form class="sign-up">
        <div class="row justify-content-between">
          <div class="col-6">
            <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
              <mat-label>Enter Name</mat-label>
              <input matInput placeholder="Name">
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
              <mat-label>Choose User Name</mat-label>
              <input matInput placeholder="Username">
            </mat-form-field>
          </div>
        </div>
        <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
          <mat-label>Enter Email Address</mat-label>
          <input matInput type="email" placeholder="Email">
        </mat-form-field>
        <div class="row justify-content-between">
          <div class="col-6">
            <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
              <mat-label>Choose Password</mat-label>
              <input matInput type="password" placeholder="Password">
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
              <mat-label>Re Enter Password</mat-label>
              <input matInput type="password" placeholder="Re-type Password">
            </mat-form-field>
          </div>
        </div>
        <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
          <mat-label>Enter Your Shop Name</mat-label>
          <input matInput placeholder="Shop Name">
        </mat-form-field>
        <mat-form-field [style.fontSize.px]="14" appearance="outline" class="field">
          <mat-label>Enter Your Shop Address</mat-label>
          <textarea  matInput placeholder="Shop Address"></textarea>
        </mat-form-field>
        <div class="row justify-content-end">
          <div class="col-auto">
            <div class="row justify-content-end">
              <div class="col-auto">
                <mat-progress-spinner
                  class="example-margin"
                  color="primary"
                  mode="indeterminate"
                  value = "50"
                  diameter = "40"
                ></mat-progress-spinner>
              </div>
              <div class="col-auto">
                <button mat-raised-button type="button" style="outline: 0" color="primary">Create Account</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

